# create the security service file, enable venv
$ sudo nano /etc/systemd/system/security.service

# reload daemon after configuration files have been changed
$ sudo systemctl daemon-reload

# automatically start service on boot
$ sudo systemctl enable security.service

# show service status
$ sudo systemctl status security.service

# show real time logs
$ sudo journalctl -u security.service -f

# /etc/systemd/system/security.service file content

[Unit]
Description=Security System Startup Script
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/security/

ExecStart=/home/admin/security/venv/bin/python /home/admin/security/main.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
